<mat-card>
    <mat-card-header>
        <mat-progress-bar mode="determinate" [value]="progressValue"></mat-progress-bar>
    </mat-card-header>

    <mat-card-content *ngIf='!surveyHasEnded'>
        <p *ngIf="texts && texts.length > 0" style="font-size: 16px; line-height: 22px;">
             {{texts[textId].text}}
        </p>
 
      <div>

        <div class="emotion-diag">
            <span>Стыд</span>
            <mat-slider 
                [(ngModel)]='answer.shame_excitement'
                [thumbLabel]='true' 
                [min]="-5" 
                [max]="5" 
                [step]="1">
            </mat-slider> 
            <span>Воодушевление</span>
        </div>

        <div class="emotion-diag">
                <span>Отвращение</span>
                <mat-slider 
                    [(ngModel)]='answer.disgust_rage'
                    [thumbLabel]='true' 
                    [min]="-5" 
                    [max]="5" 
                    [step]="1">
                </mat-slider> 
                <span>Гнев</span>
        </div>

        <div class="emotion-diag">
                <span>Страх</span>
                <mat-slider
                    [(ngModel)]='answer.fear_surprise'
                    [thumbLabel]='true' 
                    [min]="-5" 
                    [max]="5" 
                    [step]="1">
                </mat-slider> 
                <span>Удивление</span>
        </div>

        <div class="emotion-diag">
                <span>Удовольствие</span> 
                <mat-slider 
                    [(ngModel)]='answer.enjoyment_distress'
                    [thumbLabel]='true' 
                    [min]="-5" 
                    [max]="5" 
                    [step]="1">
                </mat-slider> 
                <span>Грусть</span>
        </div>
      </div>
    
    </mat-card-content>

    <mat-card-content *ngIf='surveyHasEnded'>
        <h3>Опрос закончен</h3>
        <p>
            Спасибо, что приняли участие в нашем опросе! Благодаря Вашему вкладу мы на шаг ближе к Истине :)
        </p>
    </mat-card-content>
    

    <mat-card-actions *ngIf='!surveyHasEnded'>
        <button mat-flat-button color="primary" (click)="nextText()">Продолжить</button>
    </mat-card-actions>
</mat-card>
